.panel-container {
    width: auto;
    height: 500px;
    background-color: antiquewhite;
    margin: var(--basic-gap);
    padding: var(--basic-gap);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

